.account-sustainability__inner {
  max-width: 936px;
  margin: auto;
  margin-bottom: 80px;
  .bar-filler {
    width: 0%;
  }
  .img-stats__live-numbers {
    align-items: flex-end;
  }
  .miles {
    > p {
      color: $color__grey;
      &:first-of-type {
        color: $color__text;
        font-size: 55px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }
  .btn {
    background-color: $color__text;
    min-width: 170px;
    &:hover {
      color: $color__text;
      background-color: $color__bright;
      border: 1px solid $color__text;
    }
  }
  .saving,
  .target {
    p {
      color: $color__grey;
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0px;
        font-size: 27px;
        font-weight: bold;
        color: $color__text;
        @include respond-below(sm) {
          font-size: 21px;
        }
      }
    }
  }
  .target {
    p {
      text-align: right;
    }
  }
  .account-sustainability__center {
    max-width: 560px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    h2 {
      margin-bottom: 25px;
    }
    .btn {
      background-color: $color__main;
      max-width: 170px;

      &:hover {
        border: none;
        color: $color__bright;
        background-color: $color__hover;
      }
    }
  }
}
