.travel-service {
  margin-top: 50px;
  > h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 15px;
    justify-items: center;
    @include respond-below(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__all {
    text-align: right;
    margin-bottom: 15px;
    > a {
      text-decoration: underline;
    }
  }
}

// SIM
.sim {
  margin-top: 20px;

  @include respond-below(md) {
    width: 100%;
    padding: 0px 15px;
  }
  > h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}
.sim-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  justify-items: center;
  row-gap: 20px;
  @include respond-below(md) {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .site-card__image {
    background-color: $color__light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
