.site-banner {
  background-color:#04141C;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  @include respond-below(sm) {
    text-align: center;
  }
  > p {
    color: $color__bright;
    font-size: 14px;
    margin-bottom: 0!important;
    @include respond-below(sm) {
      font-size: 12px;
    }
    a {
      color: $color__bright;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        color: $color__main;
      }
    }
  }
}
header{border-bottom: 1px solid #D8D8D8;padding: 17px 0;}
header ul{padding: 0;display: inline-block;}
header ul li{display: inline-block;list-style: none;padding: 0 10px 0 8px;}
header ul li a{
  color: #04141C; 
  font-size: 17px;
  margin: 0 5px;
  &:hover{
    color: #04141C!important;
  }
  &:hover svg path{fill: #04141c!important;}
}
header ul li a svg{
  position: relative;
  top: -2px;
  left: -10px;
}
/*header ul li {
  &:first-child {
    background-image: url(../assets/images/user-icon.svg);
    background-size: 16px;
    background-position-y: center;
    background-position-x: 8%;
  }
  &:nth-of-type(2) {
    background-image: url(../assets/images/shopping-bag.svg);
    background-size: 16px;
    background-position-y: center;
    background-position-x: 2%;
  }
}*/



header select{    padding: 0 20px 0 0;
  background-position-x: right;
  background-size: 15px;
  background-position-y: center;
  background-image: url(../assets/images/down-arrow.svg); 
  display: inline-block;font-size: 17px;
  color: #04141C;font-weight: 500;
  border: none;margin-right: 10px; 
  background-color: #fff;
  cursor: pointer;
}
header span{color: #D8D8D8;}
.header-inner {
  min-height: 85px;
  display: flex;
  align-items: center;
}
header input[type="text"]{
  height: 50px;
  min-width: 290px;
  color: #778591;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  font-size: 17px;
}
#book-menu-mobile input[type="text"]{
  min-width: 80%;
  height: 50px;
  color: #778591;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  font-size: 17px;
}

header input[type="submit"], #book-menu-mobile input[type="submit"]{
    min-height: 50px;
    min-width: 50px;
    background-color: #00a6d3;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    left: -5px;
    top:-2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    background-image: url(../assets/images/Search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
   
}
.black-link{color: #04141c;}
.menu{padding: 11px 0;text-align: center;}
.menu ul{padding: 0;margin: 0;}
.menu ul li{display: inline-block;}
.menu ul li a{color: #04141C; font-size: 17px;margin: 0 35px;font-weight: 500;}
.logo{width: 100%; max-width: 160px; margin-right: 50px;display: inline-block;}
.header-item {
  flex: 1;
}
.header-item__logo {
  flex: 0.7;
  img {
    width: 160px;
  }
}

@media(min-width: 768px){
  .header-item__mobile { display: block!important; }
}
.header-item__user {
  display: flex;
  justify-content: flex-end;
  flex: 1.3;
  @include respond-below(md) {
    flex: 1.4;
  }
  @include respond-below(sm) {
    display: none;
  }
  .btn__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.header-item__search {
  @include respond-below(lg) {
    display: none;
  }
  .search-group {
    display: flex;
    align-items: center;
  }
  input {
    height: 50px;
    min-width: 230px;
    color: $color__grey;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    font-size: 17px;
    &:focus {
      border-color: #00a6d3;
      box-shadow: 0 0 0;
    }
  }
  .search-group__btn {
    min-height: 50px;
    min-width: 50px;
    background-color: $color__main;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -2px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $color__hover;
    }
  }
  .search-group__icon {
    > svg {
      width: 24px;
      height: 24px;
      transform-origin: center center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.user-interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .nav-item {
    &:hover {
      cursor: pointer;
      svg {
        opacity: 0.8;
      }
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12.728' height='6.364' viewBox='0 0 12.728 6.364'%3E%3Cpath id='Path_782' data-name='Path 782' d='M803.324,49.98l-6.364,6.364L790.6,49.98Z' transform='translate(-790.596 -49.98)' fill='%2304141c'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 50%;
      padding-right: 13px;
      &:hover {
        cursor: pointer;
      }
      border: none;
    }
  }
}
.main-nav__control {
  @include respond-below(md) {
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
}
.main-nav {
  position: relative;

  .book-menu {
    position: absolute;
    pointer-events: none;
    z-index: 10;
    background-color: $color__bright;
    min-width: 850px;
    top: 50px;
    left: -80%;
    padding: 35px;
    opacity: 0;
    transition: 0.5s;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 51, 0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 51, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 51, 0.3);

    @include respond-below(md) {
      min-width: 710px;
      left: -70%;
      text-align: center;
    }
    &.active {
      opacity: 1;
      pointer-events: all;
    }
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__title {
      font-weight: bold;
      margin-bottom: 14px;
      display: block;
    }
    &__image {
      margin-top: 30px;
      grid-column: 1/-1;
    }
    &__nav {
      > li {
        margin-bottom: 10px;
        > a {
          font-size: 15px;
        }
      }
    }
  }
}
.header-item__nav {
  @include respond-below(sm) {
    display: none;
  }
}
.header-item__mobile {
  display: flex;
  justify-content: flex-end;
  position: relative;
  @include respond-above(sm) {
    display: none;
  }
  .hamburger {
    z-index: 9;
  }
}
.book-menu-mobile select{
  padding: 0 20px 0 0;
    background-position-x: right;
    background-size: 12px;
    background-position-y: center;
    background-image: url(../assets/images/down-arrow.svg);
    display: inline-block;
    font-size: 17px;
    color: #04141C;
    font-weight: 500;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.book-menu-mobile {
    position: fixed;
    top: -160vh;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $color__bright;
    z-index: 8;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
    min-height: 750px;

    &.active {
        top: 0px;
    }

    .mobile-nav-header {
        margin-top: 70px;
    }

    .search-group {
        position: relative;
        width: 220px;

        > input {
            height: 40px;
            border: 1px solid $color__light-grey;
            border-radius: 5px;
            padding-left: 5px;
            margin-bottom: 10px;
            width: 220px;
        }

        .search-group__icon {
            position: absolute;
            height: 40px;
            width: 38px;
            padding: 10px;
            right: 0px;
            top: 0px;
            background-color: $color__main;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            z-index: 3;

            &:hover {
                cursor: pointer;
            }

            svg {
                position: relative;
                width: 20px;
                height: 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    > nav {
        .primary-mobile-nav {
            margin-top: 20px;
            margin-bottom: 30px;

            > li {
                border-top: 1px solid $color__light-grey;
                min-height: 60px;
                display: flex;
                align-items: center;

                &:last-of-type {
                    > svg {
                        margin-right: 5px;
                        margin-bottom: 3px;
                    }
                }

                > p {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    min-height: 60px;
                }

                svg {
                    width: 13px;
                    height: 13px;

                    path {
                        fill: $color__text;
                    }
                }

                &:last-of-type {
                    border-bottom: 1px solid $color__light-grey;
                }

                &:hover {
                    cursor: pointer;
                }

                a {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    svg {
                        width: 13px;
                        height: 13px;

                        path {
                            fill: $color__text;
                        }
                    }
                }
            }
        }

        .secondary-mobile-nav {
            li {
                margin-bottom: 20px;
            }
        }
    }

    .has-submenu {
        position: relative;
        flex-wrap: wrap;

        .svg_removal {
            opacity: 1;
            transition: 0.4s;

            &.remove {
                opacity: 0;
            }
        }

        > .submenu {
            width: 100%;
            margin-top: 0px;
            background-color: $color__light-grey;
            transition: 0.4s;
            min-height: 0px;
            height: 0px;
            pointer-events: none;
            opacity: 0;

            &-active {
                opacity: 1;
                height: 100%;
                min-height: 140px;
                pointer-events: all;
            }

            > li {
                min-height: 60px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                border-top: 1px solid $color__grey;

                p {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;

                    a {
                        width: auto;
                    }

                    span {
                        display: flex;
                        justify-content: flex-end;
                        width: 50%;
                    }
                }

                &:last-of-type {
                    border-bottom: 1px solid $color__grey;
                }
            }
        }
    }

    .submenu-secondLevel {
        display: none;
        position: absolute;
        z-index: 9;
        top: 0px;
        left: -200px;
        width: 100%;
        height: 100%;
        background-color: $color__light-grey;
        padding-left: 10px;
        opacity: 0;
        transition: 0.4s;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: all;
            left: 0px;
        }

        > h3 {
            display: flex;
            position: relative;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 5px;

            > span {
                position: absolute;
                left: 0px;
            }
        }

        > li {
            min-height: 40px;
            display: flex;
            align-items: center;
            border-top: 1px solid $color__grey;

            &:first-of-type {
                border-top: none;
            }
        }
    }
}
