.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  max-width: 830px;
  margin: 25px auto;
  position: relative;
  width: auto;
  pointer-events: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: 0;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-body {
  padding: 16px;
}
.modal-close {
  margin: 0;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: none;
  font-size: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.in,
.modal-backdrop.out {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
.modal-backdrop.is-open {
  opacity: 0.5;
}
.modal.in .modal-dialog {
  animation: scaleUp 0.35s ease-in-out;
}
.modal.out .modal-dialog {
  animation: scaleDown 0.35s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

// MODAL UPSELL
.modal-body {
  display: flex;
}
.modal-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  > img {
    width: 90%;
  }
}
.modal-info {
  h2 {
    font-size: 21px;
  }
  .h3 {
    font-size: 18px;
    font-family: $text__fontname;
  }
  .grey-line {
    margin: 10px 0px;
  }
  p,
  a {
    font-size: 15px;
  }
  a {
    text-decoration: underline;
  }
  .center {
    text-align: center;
    margin: 20px 0px 0px;
  }
  .btn {
    text-decoration: none;
    width: 100%;
    margin-top: 15px;
  }
  .quantity-selector {
    z-index: 1;
    visibility: visible;
    display: block;
    width: 100%;
    padding: 0 0 25px 0;
  }
  .product-minus-button,
  .product-plus-button {
    padding: 0;
    height: 45px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    float: left;
    font-size: 32px;
    background: #e5e5e5;
    border-radius: 5px;
    span {
      line-height: 40px;
    }
  }
  .quantity-selector input {
    max-width: 70px;
    font-size: 1em;
    position: relative;
    z-index: 1;
    margin: 0 -1px;
    background: #f3f3f3;
    float: left;
    display: block;
    width: 41%;
    text-align: center;
    height: 45px;
    border: none;
  }
}
.modal-inner {
  padding: 20px 40px 40px;
}
